In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [32]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [33]:
data = requests.get(url).text
soup = BeautifulSoup(data, 'html5lib')

In [60]:
table = soup.find("table")
popular_language =[]

for row in table.find_all('tr'):
    cols= row.find_all('td')
    language= cols[1].getText()
    salary = cols[3].getText()
    #print(("{}--->{}").format(language,salary))
    popular_lan=[language,salary]
    popular_language.append(popular_lan)
#print(popular_language)
df = pd.DataFrame(popular_language)
df

             0                      1
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

In [57]:
df.to_csv('popular-Languages.csv')